flask
flask-bootstrap
flask-security
flask-marshmallow
Flask-Misaka
flask-sqlalchemy
Flask-Testing
flask-wtf
marshmallow
future
pycparser
graphviz
marshmallow-sqlalchemy
SQLAlchemy
pefile
python-magic
requests
sqlalchemy-migrate
yara-python
email_validator
